<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Stool Hopper</title>
    <link rel="stylesheet" href="/styles/style.css">
    <script type="text/javascript" src="/js/jquery-3.2.1.min.js"></script>
  </head>
  <body>
    <div class = "container">
      <div class = "container-body">
        <div class = "container-left">
        </div>
        <div class = "container-main">
          <div class = "container-content">
            <div class = "wordlogo">
              <img src = "/img/bar-hopper.png" alt = "StoolHopper" />
            </div>
            <div class = "main">
              <div class = "main-content">
              {{{body}}}
              </div>
            </div>
          </div>
        </div>
        <div class = "container-right">
        </div>
      </div>
      <div class = "footer">
        <p id="copy">&copy; Greg Wilwerding</p>
      </div>
    </div>
  <script type="text/javascript" src='/js/main.js' ></script>
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDbLMFY9LdQ2oJpTurRecyrqU4GiPmZ3bY"></script>
  </body>
</html>
